:root {
  --primary-color: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #210e6b;
  --color-body: #918ca4;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "INTER", sans-serif;
  font-size: 2.2rem;
  color: var(--color-body);
  line-height: 1.6;
}

p {
  margin: 0;
}

/*HEADINGS*/
h1,
h2,
h3 {
  color: var(--color-headings);
  margin-top: 0;
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
  font-weight: 400;
}

h2 {
  font-size: 4rem;
  line-height: 1.25;
}

h3 {
  font-size: 3rem;
  font-weight: 400;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/*LINKS*/
.link-arrow {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--color-accent);
  letter-spacing: 0.5px;
}

.link-arrow::after {
  content: "-->";
  margin-left: 4px;
  transition: margin-left 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}
/*BADGES*/
.badge {
  font-size: 2rem;
  padding: 0.7rem 2rem;
  border-radius: 22.5px;
  color: #fff;
  background-color: var(--color-secondary);
  font-weight: 600;
}

.badge--primary {
  background-color: #126de4;
}

.badge--secondary {
  background-color: #02cdf1;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/*LISTS*/
.list {
  list-style: none;
  color: var(--color-headings);
  padding-left: 2rem;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 4rem;
}

.list__tick {
  list-style-image: url(/images/tick.svg);
}

.list__tick .list__item {
  padding-bottom: 1.5rem;
  padding-left: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .list {
    font-size: 1.8rem;
  }
  .list__tick .list__item {
    padding-left: 0;
  }
}

/*ICONS*/
.icon {
  height: 40px;
  width: 40px;
}

.icon--primary {
  fill: var(--primary-color);
}

.icon--secondary {
  fill: white;
}

.icon-container {
  height: 70px;
  width: 70px;
  background-color: #f3f9fa;
  display: inline-flex;
  border-radius: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*BUTTONS*/
.btn {
  text-transform: uppercase;
  font-size: 1.8rem;
  padding: 2rem 4rem;
  border-radius: 32px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
}
.btn--primary {
  color: var(--color-headings);
  background-color: #fff;
  border: 2px solid var(--color-headings);
  transition: background-color 0.1s;
}

.btn--primary:hover {
  background-color: var(--color-headings);
  color: #fff;
}

.btn--secondary {
  color: #fff;
  background-color: var(--color-secondary);
  transition: background-color 0.1s;
}

.btn--secondary:hover {
  background-color: #1abedb;
}

.btn--accent {
  color: #fff;
  background-color: var(--color-accent);
  font-weight: normal;
  transition: background-color 0.1s;
}

.btn--accent:hover {
  background-color: #cc3812;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

.btn .icon {
  fill: white;
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.4rem;
  }
}

/*INPUTS*/
.input {
  outline: 0;
  color: var(--color-headings);
  font-size: 2rem;
  padding: 2rem 4rem;
  border-radius: 34px;
  border: 1px solid #c7c6ce;
  width: 0;
}
::placeholder {
  color: #c7c6ce;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/*INPUT GROUP*/
.input-group {
  display: flex;
  border-radius: 35px;
  padding: 0.5rem;
  box-shadow: 0 0 20px 5px #e0dfe4;
}

.input-group .input {
  flex-grow: 1;
  border: 0;
}

.input-group .btn {
  padding-left: 3rem;
}

/*PLANS*/
.plan {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 20px 5px #e0dfe4;
  overflow: hidden;
  /* margin: 3rem; */
  transition: scale 0.2s;
  /* margin: 2rem; */
}

.plan:hover {
  scale: 1.05;
}

.plan--primary {
  scale: 1.1;
}

.plan--primary:hover {
  scale: 1.15;
}

.plan--popular .plan__header {
  position: relative;
}

.plan--popular .plan__header::before {
  content: url(../images/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -2.5%;
  right: 5%;
}

.plan--primary .plan__header {
  background-color: var(--primary-color);
}

.plan--secondary .plan__header {
  background-color: var(--color-secondary);
}

.plan .plan__header {
  color: white;
  padding: 1.5rem 3rem;
  border-radius: 10px 10px 0 0;
}

.plan .plan__name {
  font-size: 2.4rem;
  color: white;
  margin-bottom: 0;
}

.plan .plan__price {
  font-size: 6rem;
}

.plan .plan__cycle {
  font-size: 2.4rem;
  opacity: 0.8;
  margin-right: 1.5rem;
}

.plan .plan__description {
  font-size: 2rem;
  margin-bottom: 0;
  letter-spacing: 0.1rem;
}

.plan .plan__body {
  padding: 2rem 3rem;
}

@media screen and (min-width: 1024px) {
  .plan .plan__name {
    font-size: 1.4rem;
  }

  .plan .plan__price {
    font-size: 5rem;
  }

  .plan .plan__cycle {
    font-size: 1.6rem;
  }

  .plan .plan__description {
    font-size: 1.7rem;
  }
}

/*MEDIA*/
.media {
  display: flex;
}

.media__heading {
  font-size: 2.4rem;
  margin-bottom: 0;
  font-weight: bold;
}

.media__description {
  font-size: 2rem;
}

.media__body {
  padding-left: 1.5rem;
}

.media .icon {
  margin-top: 1rem;
}

@media screen and (min-width: 1024px) {
  .media__heading,
  .media__description {
    font-size: 1.8rem;
  }
}

/*GRIDS*/
.grid {
  display: grid;
}

@media screen and (min-width: 1024px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*QUOTES*/
.quote {
  margin: 0;
}

.quote__text {
  font-style: italic;
  font-weight: 500;
  font-size: 3rem;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__name {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0;
}

.quote__company {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0;
}

.quote__footer {
  display: flex;
}

.quote__icon {
  position: relative;
  top: 1rem;
  margin-right: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .quote {
    margin-left: 8rem;
  }

  .quote__text,
  .quote__name {
    font-size: 2.4rem;
  }

  .quote__company {
    font-size: 1.6rem;
  }
}

/*TESTIMONIAL*/
.profile-image {
  width: 100%;
}

.testimonial {
  padding: 3rem;
  box-shadow: 0 0 20px 5px #e0dfe4;
  border-radius: 5px;
  margin: 2rem;
}

.testimonial__image {
  position: relative;
  margin: 0 3rem;
}

.testimonial__image .icon-container {
  background-color: var(--color-accent);
  height: 90px;
  width: 90px;
  position: absolute;
  top: 20px;
  right: -45px;
}

@media screen and (min-width: 1024px) {
  .testimonial .grid--1x2 {
    grid-template-columns: 40fr 60fr;
  }

  .testimonial__image {
    margin: 0;
  }
}

/*CALLOUT*/
.callout {
  background-color: var(--primary-color);
  padding: 6rem 4rem;
  border-radius: 10px;
}

.callout__heading,
.callout__text {
  color: white;
}

.callout__heading {
  font-size: 4rem;
}

.callout__text {
  font-size: 2.4rem;
}

.callout .btn {
  justify-self: center;
  align-self: center;
}

.callout__content {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .callout__text {
    font-size: 2rem;
    margin-bottom: 0;
  }

  .callout__content {
    text-align: left;
  }

  .callout .btn {
    justify-self: left;
    margin-left: 5rem;
  }

  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }
}

/*COLLAPSIBLES*/

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  font-size: 3rem;
  margin: 0;
}

.collapsible__icon {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__body {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible__list {
  padding: 0;
  margin: 0;
  line-height: 2;
  font-size: 2.4rem;
}

.collapsible--expanded .collapsible__body {
  max-height: 100vh;
  opacity: 1;
  /* overflow: visible; */
}

.collapsible--expanded .collapsible__icon {
  transform: rotate(0);
}

/*BLOCKS*/

.block {
  padding: 10rem 3rem;
}

.block--dark {
  background-color: black;
}

.block--dark .block__heading {
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
}

.block--skewed-left {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
  padding-bottom: 18rem;
}

.block--skewed-right {
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
  padding-bottom: 18rem;
}

.block__header {
  text-align: center;
}

.block__heading {
  font-size: 4rem;
  font-weight: 700;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/*NAV-BAR*/

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-bottom: 0;
}

.nav__list {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
  margin: 0;
  padding-left: 0;
}

.nav .icon {
  margin-bottom: 1rem;
  fill: #bab7c4;
  transition: fill 0.3s;
}

.nav__logo > img {
  width: 150px;
}
.nav__list .list__item {
  list-style: none;
  border-bottom: #222 1px solid;
  padding-left: 1rem;
  line-height: 2;
}

.nav__list .list__item > a {
  color: #bab7c4;
  text-decoration: none;
}

.nav__list .list__item > a:hover {
  color: #fff;
}

.nav .icon:hover {
  fill: #fff;
}

.nav.collapsible--expanded .nav__list {
  max-height: 100vh;
  opacity: 1;
}

.nav.collapsible--expanded .icon {
  box-shadow: 0 0 5px 2px rgba(209, 207, 207, 0.5);
  border-radius: 5px;
}

@media screen and (min-width: 1024px) {
  .nav .icon {
    display: none;
  }
  .nav {
    flex-wrap: nowrap;
  }
  .nav__list {
    width: auto;
    opacity: 1;
    max-height: 100vh;
    display: flex;
    padding-bottom: 1rem;
  }
  .nav__list .list__item {
    padding-left: 4rem;
    border-bottom: none;
  }
}

/*HERO*/

.hero__image > img {
  width: 100%;
}

.hero__content {
  text-align: center;
}

.hero__content > h1 {
  color: white;
  font-size: 7rem;
  margin: 0;
  line-height: 1.2;
}

.hero__content > p {
  margin: 1rem 0 4rem;
}

.hero .btn {
  width: 60%;
}

@media screen and (min-width: 1024px) {
  .hero .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero .btn {
    width: 200px;
  }

  .hero__content {
    text-align: start;
  }

  .hero__content > h1 {
    font-size: 8rem;
  }

  .hero__content > p {
    font-size: 2rem;
  }

  .hero .grid {
    align-items: center;
  }
}

/*DOMAIN BLOCK*/

.domain-block {
  text-align: center;
  padding: 3rem;
}

.domain-block .input-group {
  margin: 4rem auto;
  max-width: 700px;
}

.domain__header > h3 {
  font-size: 4rem;
  line-height: 1.3;
  margin-bottom: 2rem;
}

.domain__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 5rem);
  margin: 0;
  max-width: 700px;
  padding: 0;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .domain__list {
    grid-template-columns: repeat(6, 1fr);
    max-width: 800px;
  }
}

/*PLAN-BLOCK*/

.plan-block {
  padding: 3rem 5rem;
}

.plan-block .grid {
  /* padding: 2rem; */
  gap: 5rem;
}

@media screen and (min-width: 1024px) {
  .plan-block {
    padding: 5rem 3rem;
  }
  .plan-block .grid {
    /* padding: 2rem; */
    gap: 4rem;
  }
}

/*FEATURE-BLOCK*/

.feature-block {
  padding: 3rem;
}

.feature__header {
  margin-bottom: 1rem;
  text-align: center;
}
.feature__header .feature__heading {
  font-weight: 900;
}

.feature .media {
  display: block;
}

.feature__body {
  padding: 3rem 0;
}

.feature__content .media__body {
  padding: 1rem 0 0;
}

/* .feature__content .media__description {      ESTO NO ME FUNCIONA
  
  margin-bottom: 2rem;
  font-size: 2.4rem;
} */

.feature__content .media__heading {
  font-size: 3rem;
  font-weight: 400;
}

.feature__content .icon {
  margin: 0;
}

.feature__image {
  padding-top: 5rem;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .feature__body.grid {
    gap: 5rem;
  }
  .feature__image {
    padding: 0;
  }
  .feature:nth-of-type(odd) .feature__content {
    order: 2;
  }
}

/*SHOWCASE*/

.showcase__heading,
.showcase__content .media__heading {
  color: white;
}
.showcase__heading {
  text-align: center;
  margin-bottom: 2rem;
}

.showcase__content {
  padding-left: 2.5rem;
}

.showcase__content .media {
  padding-bottom: 5rem;
}

.showcase__content .icon {
  min-width: 40px;
}
/* .showcase__content .icon > use {
  width: 100px;
  height: 100px;
} */

.showcase__image {
  width: 100%;
  padding-bottom: 3rem;
}

.showcase.block--skewed-left {
  padding-bottom: 25rem;
}

@media screen and (min-width: 1024px) {
  .showcase.block--skewed-left {
    padding-bottom: 18rem;
  }

  .showcase__content .media:first-of-type {
    padding-top: 1rem;
  }

  .showcase .grid {
    grid-template-columns: 50% 50%;
  }

  .showcase__image {
    width: auto;
    justify-self: end;
    max-width: 700px;
  }

  .showcase__image__container {
    justify-self: end;
  }
}

/*FOOTER*/

.footer .collapsible__heading {
  color: #eaeaea;
  text-transform: uppercase;
}

.footer.block {
  padding: 5rem 3rem;
}

.footer.block--dark {
  background-color: #232323;
}

.footer .list__item {
  color: #aaaaaa;
}

.footer .collapsible {
  border-bottom: rgb(61, 61, 61) 1px solid;
  padding: 2rem 0;
}

.footer .logo__container {
  text-align: center;
  margin-top: 6rem;
}

.footer__logo {
  width: 250px;
}

.footer .copyright {
  color: #aaaaaa;
  opacity: 0.7;
}

.footer .collapsible--expanded .collapsible__body {
  padding-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
  .footer .list__item {
    font-size: 1.5rem;
  }

  .footer .collapsible__heading {
    font-size: 1.6rem;
    padding-bottom: 1rem;
  }

  .footer__logo {
    width: 170px;
  }
  .footer .copyright {
    font-size: 1.5rem;
  }

  .footer__content {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 2rem;
    /* flex-wrap: nowrap; */
    /* grid-template-columns: repeat(5, 1fr); */
  }

  .footer .logo__container {
    order: -1;
    margin: 0;
    justify-self: center;
    /* align-self: center; */
  }

  .footer .collapsible__icon {
    display: none;
  }

  .footer .collapsible__body {
    opacity: 1;
    max-height: 100vh;
  }

  .footer .collapsible {
    border-bottom: none;
    padding: 0;
  }
}
