:root {
  --primary-color: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #210e6b;
  --color-body: #918ca4;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "INTER", sans-serif;
  font-size: 2.2rem;
  color: var(--color-body);
  line-height: 1.6;
}

p {
  margin-top: 0;
}

/*HEADINGS*/
h1,
h2,
h3 {
  color: var(--color-headings);
  margin-top: 0;
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
  font-weight: 400;
}

h2 {
  font-size: 4rem;
  line-height: 1.25;
}

h3 {
  font-size: 3rem;
  font-weight: 400;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/*LINKS*/
.link-arrow {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--color-accent);
  letter-spacing: 0.5px;
}

.link-arrow::after {
  content: "-->";
  margin-left: 4px;
  transition: margin-left 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}
/*BADGES*/
.badge {
  font-size: 2rem;
  padding: 0.7rem 2rem;
  border-radius: 22.5px;
  color: #fff;
  background-color: var(--color-secondary);
  font-weight: 600;
}

.badge--primary {
  background-color: #126de4;
}

.badge--secondary {
  background-color: #02cdf1;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/*LISTS*/
.list {
  list-style: none;
  color: var(--color-headings);
  padding-left: 4rem;
  font-size: 2rem;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 4rem;
}

.list__tick {
  list-style-image: url(/images/tick.svg);
}

.list__tick .list__item {
  padding-bottom: 1.5rem;
  padding-left: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .list__tick .list__item {
    padding-left: 0;
  }
}

/*ICONS*/
.icon {
  height: 40px;
  width: 40px;
}

.icon--primary {
  fill: var(--primary-color);
}

.icon-container {
  height: 70px;
  width: 70px;
  background-color: #f3f9fa;
  display: inline-flex;
  border-radius: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
