<div class="collapsible">
  <div class="collapsible__header">
    <h3 class="collapsible__heading">PRODUCTS</h3>
    <img
      class="icon collapsible__icon"
      src="/images/chevron.svg"
      alt="An arrow icon"
    />
  </div>
  <div class="collapsible__body">
    <ul class="list collapsible__list">
      <li class="list__item">WordPress Hosting</li>
      <li class="list__item">Free Automated WordPress</li>
      <li class="list__item">Migrations</li>
      <li class="list__item">Domain Names</li>
      <li class="list__item">Monthly Web Hosting</li>
    </ul>
  </div>
</div>
<script src="/js/main.js"></script>
