<footer class="footer block block--dark">
  <div class="container footer__content grid">
    <div class="collapsible">
      <div class="collapsible__header">
        <h3 class="collapsible__heading">PRODUCTS</h3>
        <img
          class="icon collapsible__icon"
          src="/images/chevron.svg"
          alt="An arrow icon"
        />
      </div>
      <div class="collapsible__body">
        <ul class="list collapsible__list">
          <li class="list__item">WordPress Hosting</li>
          <li class="list__item">Free Automated WordPress</li>
          <li class="list__item">Migrations</li>
          <li class="list__item">Domain Names</li>
          <li class="list__item">Monthly Web Hosting</li>
        </ul>
      </div>
    </div>
    <div class="collapsible">
      <div class="collapsible__header">
        <h3 class="collapsible__heading">COMPANY</h3>
        <img
          class="icon collapsible__icon"
          src="/images/chevron.svg"
          alt="An arrow icon"
        />
      </div>
      <div class="collapsible__body">
        <ul class="list collapsible__list">
          <li class="list__item">About</li>
          <li class="list__item">Afiliates</li>
          <li class="list__item">Blog</li>
          <li class="list__item">Careear</li>
          <li class="list__item">Community</li>
          <li class="list__item">News</li>
          <li class="list__item">Green Hosting</li>
        </ul>
      </div>
    </div>
    <div class="collapsible">
      <div class="collapsible__header">
        <h3 class="collapsible__heading">SUPPORT</h3>
        <img
          class="icon collapsible__icon"
          src="/images/chevron.svg"
          alt="An arrow icon"
        />
      </div>
      <div class="collapsible__body">
        <ul class="list collapsible__list">
          <li class="list__item">Contact</li>
          <li class="list__item">Knowledge Base</li>
          <li class="list__item">Forum</li>
          <li class="list__item">System Status</li>
          <li class="list__item">Web Hosting</li>
          <li class="list__item">DreamCompute</li>
        </ul>
      </div>
    </div>
    <div class="collapsible">
      <div class="collapsible__header">
        <h3 class="collapsible__heading">DOMAIN</h3>
        <img
          class="icon collapsible__icon"
          src="/images/chevron.svg"
          alt="An arrow icon"
        />
      </div>
      <div class="collapsible__body">
        <ul class="list collapsible__list">
          <li class="list__item">Domain Checker</li>
          <li class="list__item">Domain Transfer</li>
          <li class="list__item">Free Domain</li>
          <li class="list__item">XYZ Domain</li>
          <li class="list__item">Cheap SSL Certificate</li>
        </ul>
      </div>
    </div>
    <div class="logo__container">
      <img src="images/logo.svg" alt="Moshify logo" class="footer__logo" />
      <p class="copyright">Copyright 2020 Mosh</p>
    </div>
  </div>
</footer>
<script src="/js/main.js"></script>
