<div class="plan plan--secondary plan--popular">
  <header class="plan__header">
    <h3 class="plan__name">Entry</h3>
    <span class="plan__price">$14</span>
    <span class="plan__cycle">/month</span>
    <span class="badge badge--secondary badge--small">10% OFF</span>
    <p class="plan__description">Lorem ipsum dolor sit.</p>
  </header>
  <div class="plan__body">
    <ul class="list list__tick">
      <li class="list__item">Unlimited Websites</li>
      <li class="list__item">Item 2</li>
      <li class="list__item">Item 3</li>
    </ul>
    <button class="btn btn--primary btn--block">buy now</button>
  </div>
</div>
