<section class="showcase block block--dark block--skewed-left">
  <div class="container">
    <h2 class="showcase__heading">User-Frendly Control Panel</h2>
    <div class="showcase__body grid grid--1x2">
      <picture class="showcase__image__container">
        <source
        type="image/webp"
        srcset="images/ipad.webp 1x, images/ipad@2x.webp 2x">
        <source
        type="image/png"
        srcset="images/ipad.png 1x, images/ipad@2x.png 2x">
        <img class="showcase__image" src="images/ipad.png" alt="an ipad content">
      </picture>
      <div class="showcase__content">
        <div class="media">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
          <div class="media__body">
            <h3 class="media__heading">Easy Start & Managed Updates</h3>
            <p class=media__description">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi ad nobis repellat culpa quisquam expedita veniam debitis?
            </p>
          </div>
        </div>
        <div class="media">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
          <div class="media__body">
            <h3 class="media__heading">Easy Start & Managed Updates</h3>
            <p class=media__description">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti porro, magni dicta unde doloremque asperiores quas cumque!
            </p>
          </div>
        </div>
        <div class="media">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
          <div class="media__body">
            <h3 class="media__heading">Easy Start & Managed Updates</h3>
            <p class=media__description">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos voluptatum hic unde maxime. Corrupti repellendus voluptatum magni?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>