<div class="container testimonial">
  <div class="testimonial__header">
    <h2 class="testimonial__heading">What our Customers are Saying</h2>
    <p class="testimonial__description">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex, modi.
    </p>
  </div>
  <div class="testimonial__content grid grid--1x2">
    <div class="testimonial__image">
      <source type="image/webp" srcset="images/testimonial.webp" />
      <source type="image/jpg" srcset="images/testimonial.jpg" />
      <img
        class="profile-image"
        src="/images/testimonial.webp"
        alt="A profile image"
      />
      <span class="icon-container">
        <svg class="icon icon--secondary">
          <use xlink:href="images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea sed
        similique officia, eligendi labore doloremque voluptatem minima
        reprehenderit. Eum, laborum.
      </p>
      <div class="quote__footer">
        <svg class="icon icon--primary quote__icon">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
        <div class="quote__author">
          <h3 class="quote__name">Adrian Rodriguez</h3>
          <p class="quote__company">Adrian's Company</p>
        </div>
      </div>
    </blockquote>
  </div>
</div>
